/* voterdashboard.css */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-slider {
  display: flex;
  overflow-x: hidden;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.card {
  width: 350px !important;
  height: 160px !important;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  position: relative;
  transition: transform 0.3s;
}

.card:last-child {
  margin-right: 0;
}

.card:hover {
  transform: scale(1.05);
}

.img-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body-container {
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 400px;
  background-color: rgba(24, 83, 122, 0.6);
  opacity: 0;
  transition: height linear 0.4s, opacity linear 0.2s;
}

.card:hover .overlay {
  opacity: 1;
  height: 150px;
}

.election-info {
  margin-top: 10%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.title,
.price {
  color: #18537a;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 12px;
}

.info {
  letter-spacing: 0.5px;
  margin-bottom: 6px;
}

.separator {
  width: 20%;
  height: 6px;
  background-color: #17537a;
  margin-bottom: 16px;
}

.additional-info {
  border-top: 1px solid #bbb;
  margin-top: 12px;
  padding: 28px;
  padding-bottom: 0;
}

.additional-info .info {
  font-size: 0.9em;
  margin-bottom: 20px;
  text-align: center;
}

.info i {
  color: #18537a;
  font-size: 1.1em;
  margin-right: 4px;
}

.info span {
  color: #18537a;
  font-weight: bolder;
}

.action {
  color: #fff;
  border: 3px solid #fff;
  background-color: transparent;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  outline: none;
  cursor: pointer;
  padding: 12px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 2px;
  transition: background-color 0.4s, top 0.4s;
}

.card:hover .action {
  top: 25px;
}

.action:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* upcoming election prev and next button */
.prev-button,
.next-button {
  background-color: #18537a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.prev-button:hover,
.next-button:hover {
  background-color: #0c2a45;
}

/* Arrow icons styling */
.prev-button i,
.next-button i {
  font-size: 1.5em;
  margin-right: 4px;
}

/* in progress election prev and next button*/

/* Add media query for screens smaller than 768px */
@media (max-width: 768px) {
  .card {
    width: calc(100% - 40px); /* Full width with some margin on the sides */
    margin-right: 0; /* Remove right margin to stack cards vertically */
  }

  /* Adjust spacing between cards */
  .card-slider {
    overflow-x: auto; /* Enable horizontal scrolling */
    justify-content: flex-start;
    margin-top: 0;
    scroll-snap-type: x mandatory; /* Enable snap scrolling */
  }

  /* Optional: Center the slider content on smaller screens */
  .card-slider {
    align-items: center;
  }

  /* Style for individual cards */
  .card {
    flex: 0 0 auto; /* Allow cards to shrink */
    scroll-snap-align: start; /* Snap to the start of each card */
  }
}

/* Add this CSS to style the heading-container */
.heading-container {
  width: 100%;
  text-align: left; /* Align the text to the left */
  padding: 10px 0; /* Add some padding for spacing */
}

#round-corner {
  font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 25px;
  background: #1e90ff;
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container_instruction p {
  padding: 0 70px;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}

.container_instruction h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
  font-weight: bold;
  color: #1e90ff;
  padding-top: 2%;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 10px;
}
