<%
if (message) {
%>
  <h1><%= message %></h1>
  <script>
    // Add JavaScript to redirect to the login page after 2 seconds
    setTimeout(function () {
      window.location.href = 'http://localhost:5173/login'; // Redirect to the login page
    }, 2000); //2 seconds
  </script>
<%
}
%>
