<!-- reset-password.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <% if (typeof success !== 'undefined' && success) { %>
    <script type="text/javascript">
      // Redirect after 2 seconds
      setTimeout(function () {
        window.location.href = "http://localhost:5173/";
      }, 3000);
    </script>
    <% } %>
    <!-- Add Bootstrap CSS link here -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <style>
      body {
        display: flex;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        background-color: #f9f9f9;
        font-family: "Roboto", sans-serif;
        margin: 0;
        background: linear-gradient(rgba(1, 11, 11, 0.5), rgba(10, 10, 10, 0.5)),
          url("http://localhost:5173/public/vote.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .mainDiv {
        display: flex;
        justify-content: center;
      }

      .cardStyle {
        width: 450px; /* Adjusted width */
        border-color: white;
        color: white;
        background-color: rgba(1, 32, 93, 0.6);
        padding: 1rem; /* Adjusted padding */
        border-radius: 10px; /* Adjusted border-radius */
        margin: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 2px solid white;
        box-sizing: border-box;
      }

      .formTitle {
        margin-top: 20px;
        text-align: center;
      }

      .inputLabel {
        font-size: 16px;
        margin-bottom: 6px;
        margin-top: 24px;
      }

      .inputDiv {
        display: flex;
        flex-direction: column;
        margin: auto;
      }

      input {
        height: 40px;
        font-size: 16px;
        border-radius: 4px;
        border: none;
        border: solid 1px #ccc;
        padding: 0 11px;
        margin-bottom: 20px;
      }

      form i {
        cursor: pointer;
      }

      .buttonWrapper {
        margin-top: 35px;
      }

      .submitButton {
        width: 100%;
        height: 40px;
        margin: auto;
        display: block;
        color: #fff;
        background-color: #0077ff; /* Adjusted background color */
        border-color: #0077ff; /* Adjusted border color */
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
      }

      .submitButton:disabled,
      button[disabled] {
        border: 1px solid #cccccc;
        background-color: #cccccc;
        color: #666666;
      }

      /* Media query for smaller screens */
      @media (max-width: 768px) {
        body {
          /* Adjust the background size or position if necessary */
          background-size: auto 100%;
        }

        .cardStyle {
          max-width: none; /* Allow the form to take full width of its parent */
          width: 350px; /* Set width to auto for smaller screens */
          margin: 1rem; /* Keep the margin consistent */
        }
      }
    </style>
  </head>

  <body>
    <div class="mainDiv">
      <div class="cardStyle">
        <% if (typeof success !== 'undefined' && success) { %>
        <div class="alert alert-success" role="alert">
          Your password has been reset successfully. You can request a new
          password reset link immediately if necessary. Redirecting to login
          page...
        </div>
        <% } else { %>
        <!-- Bootstrap alert for displaying errors -->
        <% if (error_messages && error_messages.length > 0) { %>
        <div class="alert alert-danger" role="alert">
          <% error_messages.forEach(function (error) { %>
          <div><%= error.msg %></div>
          <% }); %>
        </div>
        <% } %>
        <form action="/reset-password" method="POST">
          <input type="hidden" name="id" value="<%= user.user_id %>" />
          <input type="hidden" name="email" value="<%= user.email %>" />
          <input type="hidden" name="token" value="<%= token %>" />
          <h2 class="formTitle">Reset Your Password</h2>

          <div class="inputDiv">
            <label class="inputLabel" for="password"
              ><strong>Verification Code</strong></label
            >
            <div class="input-group">
              <input
                type="text"
                id="code"
                name="code"
                placeholder="Code"
                class="form-control"
                maxlength="10"
              />
            </div>
          </div>

          <div class="inputDiv">
            <label class="inputLabel" for="password"
              ><strong>New Password</strong></label
            >
            <div class="input-group">
              <input
                type="password"
                id="password"
                name="password"
                placeholder="New Password"
                class="form-control"
              />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="bi bi-eye-slash togglePassword"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="inputDiv">
            <label class="inputLabel" for="confirmPassword"
              ><strong>Confirm Password</strong></label
            >
            <div class="input-group">
              <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Confirm Password"
                class="form-control"
              />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="bi bi-eye-slash togglePassword"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="buttonWrapper mb-2">
            <button
              type="submit"
              class="submitButton pure-button pure-button-primary"
            >
              <span>Continue</span>
            </button>
          </div>
        </form>
        <% } %>
      </div>
    </div>
    <!-- Add Bootstrap JS scripts here -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var togglePasswordIcons = document.querySelectorAll(".togglePassword");

        togglePasswordIcons.forEach(function (icon) {
          icon.addEventListener("click", function () {
            var passwordInput =
              this.closest(".input-group").querySelector("input");
            if (passwordInput.type === "password") {
              passwordInput.type = "text";
            } else {
              passwordInput.type = "password";
            }
            this.classList.toggle("bi-eye");
          });
        });
      });
    </script>
  </body>
</html>
